* text=auto eol=lf

*.php text diff=php
*.js text
*.css text
*.md text
*.json text
*.yml text
*.yaml text
*.xml text
*.sql text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.zip binary
*.phar binary
